body {
    color: rgba(136, 136, 136, 0.9);
}

.walk {
    animation-name: walk;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(6);
}

#link {
    width: 70px;
    height: 80px;
    background-image: url(../sprites/test_animation.png);
}

@keyframes walk {
    from {
        background-position: 0;
    }
    to {
        background-position: 488px;
    }
}
